<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Movie Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Free Movie App Test Cases">
		<classes>
			<class name="com.mov.qa.testcases.LoginPageTest"></class>
			<class name="com.mov.qa.testcases.HomePageTest"></class>
		</classes>
	</test>
</suite>